USE [master]
GO
/****** Object:  Database [School]    Script Date: 28.9.2021 г. 16:03:33 ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'E:\martin\Merudiq\School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'E:\martin\Merudiq\School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 28.9.2021 г. 16:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ID] [int] NOT NULL,
	[Name] [nchar](4) NOT NULL,
	[MaxStudents] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 28.9.2021 г. 16:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nchar](10) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 28.9.2021 г. 16:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] NOT NULL,
	[Name] [text] NOT NULL,
	[Class] [nchar](4) NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Classes] ([ID], [Name], [MaxStudents]) VALUES (1, N'1a  ', 27)
INSERT [dbo].[Classes] ([ID], [Name], [MaxStudents]) VALUES (2, N'1b  ', 28)
INSERT [dbo].[Classes] ([ID], [Name], [MaxStudents]) VALUES (3, N'1c  ', NULL)
GO
INSERT [dbo].[Students] ([ID], [Name], [Age], [PhoneNumber]) VALUES (1000, N'Hristian', 17, N'0888815156')
INSERT [dbo].[Students] ([ID], [Name], [Age], [PhoneNumber]) VALUES (1111, N'Ivan', 15, N'0899445566')
INSERT [dbo].[Students] ([ID], [Name], [Age], [PhoneNumber]) VALUES (2015, N'Nikola', 10, N'0877665544')
GO
INSERT [dbo].[Teachers] ([ID], [Name], [Class]) VALUES (1, N'Anna Ivanova', N'1   ')
INSERT [dbo].[Teachers] ([ID], [Name], [Class]) VALUES (5, N'Alexei Nikolov', N'34  ')
INSERT [dbo].[Teachers] ([ID], [Name], [Class]) VALUES (15, N'Ivan Georgiev', N'2   ')
GO
ALTER TABLE [dbo].[Classes] ADD  CONSTRAINT [DF_Classes_Name]  DEFAULT (N'10a') FOR [Name]
GO
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [DF_Teachers_Class]  DEFAULT (N'10a') FOR [Class]
GO
USE [master]
GO
