USE [master]
GO
/****** Object:  Database [CafeAD]    Script Date: 29.9.2021 г. 9:41:53 ******/
CREATE DATABASE [CafeAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CafeAD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CafeAD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeAD]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29.9.2021 г. 9:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Product] [varchar](50) NOT NULL,
	[SalesAgent] [varchar](50) NOT NULL,
	[FirstTrimester] [money] NOT NULL,
	[SecondTrimester] [money] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Product], [SalesAgent], [FirstTrimester], [SecondTrimester]) VALUES (1, N'Tea Bouquet', N'Vasileva', 21400.0000, 23.0000)
INSERT [dbo].[Products] ([ID], [Product], [SalesAgent], [FirstTrimester], [SecondTrimester]) VALUES (2, N'Cafe Elite Classic ', N'Koev', 19771.0000, 17800.0000)
INSERT [dbo].[Products] ([ID], [Product], [SalesAgent], [FirstTrimester], [SecondTrimester]) VALUES (3, N'English tea', N'Stoilova', 10500.0000, 9800.0000)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
